

#Alternate default index pages

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]



DirectoryIndex welcome.php index.php

<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect exact matches of ecobricks.org or ecobricks.org/ to /en/
RewriteCond %{HTTP_HOST} ^(www\.)?ecobricks\.org$ [NC]
RewriteRule ^/?$ https://ecobricks.org/en/ [R=301,L]

# Other rewrite conditions and rules go here...

</IfModule>


<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect exact matches of ecoladrillo.org or ecoladrillo.org/ to /es/
RewriteCond %{HTTP_HOST} ^(www\.)?ecoladrillo\.org$ [NC]
RewriteRule ^/?$ https://ecoladrillo.org/es/ [R=301,L]

</IfModule>



<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !^/?(en|es|id|fr|pt|vi|fonts|wp-content|wp-includes|wp-admin|testing|pdfs|includes|menus|meta|icons|svgs|webp|pngs|photos|scripts|banners|logos|translations|indexes|briks|cash)/
RewriteCond %{REQUEST_URI} !^/(stylesheet-general\.css|arc-sw\.js|ecobricks_env\.php|sitemap\.xml|sitemap-multilingual\.xml)$
RewriteCond %{HTTP_HOST} ^www.ecobricks.org$ [OR]
RewriteCond %{HTTP_HOST} ^ecobricks.org$ 
RewriteCond %{HTTP:Accept-Language} ^id [NC]
RewriteCond %{REQUEST_URI} !\.(css)$ [NC]   # Exclude all .css files
RewriteCond %{REQUEST_URI} !\.(js)$ [NC]   # Exclude all .js files

RewriteRule (.*)$ https://ecobricks.org/id/$1 [R=301,L]
</IfModule>

# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{REQUEST_URI} !^/?(en|es|id|fr|pt|vi|fonts|wp-content|wp-includes|wp-admin|testing|pdfs|includes|menus|meta|icons|svgs|webp|pngs|photos|scripts|banners|logos|translations|indexes|briks|cash)/
# RewriteCond %{REQUEST_URI} !^/(stylesheet-general\.css|arc-sw\.js|ecobricks_env\.php|sitemap\.xml|sitemap-multilingual\.xml)$
# RewriteCond %{HTTP_HOST} ^www.ecobricks.org$ [OR]
# RewriteCond %{HTTP_HOST} ^ecobricks.org$ 
# RewriteCond %{HTTP:Accept-Language} ^es [NC]
# RewriteCond %{REQUEST_URI} !\.(css)$ [NC]   # Exclude all .css files
# RewriteCond %{REQUEST_URI} !\.(js)$ [NC]   # Exclude all .js files



# RewriteRule (.*)$ https://ecobricks.org/es/$1 [R=301,L]
# </IfModule>

# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteCond %{REQUEST_URI} !^/?(en|es|id|fr|pt|vi|fonts|wp-content|wp-includes|wp-admin|testing|pdfs|includes|menus|meta|icons|svgs|webp|pngs|photos|scripts|banners|logos|translations|indexes|briks|cash)/
# RewriteCond %{REQUEST_URI} !^/(stylesheet-general\.css|arc-sw\.js|ecobricks_env\.php|sitemap\.xml|sitemap-multilingual\.xml)$
# RewriteCond %{HTTP_HOST} ^www.ecobricks.org$ [OR]
# RewriteCond %{HTTP_HOST} ^ecobricks.org$ 
# RewriteCond %{HTTP:Accept-Language} ^es [NC]
# RewriteCond %{REQUEST_URI} !\.(css)$ [NC]   # Exclude all .css files
# RewriteCond %{REQUEST_URI} !\.(js)$ [NC]   # Exclude all .js files



# RewriteRule (.*)$ https://ecobricks.org/fr/$1 [R=301,L]
# </IfModule>


# # <IfModule mod_rewrite.c>
# # RewriteEngine On
# # RewriteCond %{REQUEST_URI} !^/?(en|es|id|fr|pt|vi|fonts|wp-content|wp-includes|wp-admin|testing|pdfs|includes|menus|meta|icons|svgs|webp|pngs|photos|scripts|banners|logos|translations|indexes|briks|cash)/
# # RewriteCond %{REQUEST_URI} !^/(stylesheet-general\.css|arc-sw\.js|ecobricks_env\.php|sitemap\.xml|sitemap-multilingual\.xml)$
# # RewriteCond %{HTTP_HOST} ^www.ecobricks.org$ [OR]
# # RewriteCond %{HTTP_HOST} ^ecobricks.org$ 
# # RewriteCond %{HTTP:Accept-Language} ^en [NC]
# # RewriteCond %{REQUEST_URI} !\.(css)$ [NC]   # Exclude all .css files
# # RewriteCond %{REQUEST_URI} !\.(js)$ [NC]   # Exclude all .js files



# # RewriteRule (.*)$ https://ecobricks.org/en/$1 [R=301,L]
# # </IfModule>




# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteCond %{REQUEST_URI} !\.(png|jpg|jpeg|gif|webp)$ [NC]
#     RewriteCond %{REQUEST_URI} !^/?(en|es|id|fr|pt|vi|fonts|wp-content|wp-includes|wp-admin|testing|pdfs|includes|menus|meta|icons|svgs|webp|pngs|photos|scripts|banners|logos|translations|indexes|briks|cash)/
#     RewriteCond %{REQUEST_URI} !^/(stylesheet-general\.css|arc-sw\.js|ecobricks_env\.php|sitemap\.xml|sitemap-multilingual\.xml)$
#     RewriteCond %{HTTP_HOST} ^www.ecobricks.org$ [OR]
#     RewriteCond %{HTTP_HOST} ^ecobricks.org$ 
#     RewriteCond %{HTTP:Accept-Language} ^en [NC]
#     RewriteCond %{REQUEST_URI} !\.(css)$ [NC]   # Exclude all .css files
#     RewriteCond %{REQUEST_URI} !\.(js)$ [NC]   # Exclude all .js files
#     RewriteRule (.*)$ https://ecobricks.org/en/$1 [R=301,L]
# </IfModule>


# # ... copy block above for other languages ...

# RedirectMatch "^/en-francais/" "/en/"

# RedirectMatch "^/es/welcome.php" "/es/"

# RedirectMatch "^/id/welcome.php" "/id/"

# RedirectMatch "^/fr/welcome.php" "/fr/"

# RedirectMatch "^/vi/welcome.php" "/vi/"

# RedirectMatch "^/pt/welcome.php" "/pt/"

RedirectMatch "^/brikchain" "/en/brikchain.php?v2"

Redirect /arc /en/arc.php
Redirect /arc/ /en/arc.php
Redirect /arc.php /en/arc.php

Redirect /principles /en/principles.php
Redirect /principles/ /en/principles.php
Redirect /principles.php /en/principles.php


Redirect /catalyst /en/catalyst.php
Redirect /catalyst/ /en/catalyst.php
Redirect /catalyst.php/ /en/catalyst.php


Redirect /2021-regenreport /en/regenreports.php
Redirect /2021-regenreport/ /en/regenreports.php
Redirect /2021-regen-report /en/regenreports.php
Redirect /2021-regen-report/ /en/regenreports.php
Redirect /en/2021-regen-report.php /en/regenreports.php

RedirectMatch "^/regenreports\/?$" "/en/regenreports.php"
RedirectMatch "^/regenreport\/?$" "/en/regenreports.php"
RedirectMatch "^/regenreport.php\/?$" "/en/regenreports.php"


Redirect /coefficients /en/coefficients.php
Redirect /coefficients/ /en/coefficients.php
Redirect /coeffecients /en/coefficients.php
Redirect /coeffecients /en/coefficients.php


Redirect /richard /en/richard.php

Redirect /es/richard.php /es/richards.php



RedirectMatch "^/symposium\/?$" "/en/symposium.php"



RedirectMatch "^/faq\/?$" "/en/faqs.php"
RedirectMatch "^/faqs\/?$" "/en/faqs.php"
RedirectMatch "^/faqs.php\/?$" "/en/faqs.php"


RedirectMatch "^/sequest" "/en/sequest.php"
RedirectMatch "^/sequest/" "/en/sequest.php"



RedirectMatch "^/transition" "/en/transition.php"
RedirectMatch "^/transition/" "/en/transition.php"


RedirectMatch "^/about" "/en/about.php"
RedirectMatch "^/about/" "/en/about.php"
RedirectMatch "^about" "about.php"


RedirectMatch "^/what" "/en/what.php"
RedirectMatch "^/what/" "/en/what.php"

RedirectMatch "^/how" "/en/how.php"
RedirectMatch "^/how/" "/en/how.php"

RedirectMatch "^/media" "/en/media.php"
RedirectMatch "^/media/" "/en/media.php"
RedirectMatch "^/media.php/" "/en/media.php"

RedirectMatch "^/build" "/en/build.php"
RedirectMatch "^/build/" "/en/build.php"

RedirectMatch "^/drop-off" "/en/drop-off.php"
RedirectMatch "^/drop-off/" "/en/drop-off.php"
RedirectMatch "^/drop" "/en/drop-off.php"
RedirectMatch "^/drop/" "/en/drop-off.php"
RedirectMatch "^/market/" "/en/drop-off.php"
RedirectMatch "^/market" "/en/drop-off.php"
RedirectMatch "^/marketplace/" "/en/drop-off.php"
RedirectMatch "^/marketplace" "/en/drop-off.php"
RedirectMatch "^/exchange" "/en/drop-off.php"
RedirectMatch "^/exchange/" "/en/drop-off.php"
RedirectMatch "^/exchange/dropoff-map/" "/en/drop-off.php"

RedirectMatch "^/brikcoins" "/en/brikcoins.php"
RedirectMatch "^/brikcoins/" "/en/brikcoins.php"

RedirectMatch "^/open-books" "/en/open-books.php"
RedirectMatch "^/openbooks" "/en/open-books.php"
RedirectMatch "^/openbooks/" "/en/open-books.php"
RedirectMatch "^/openbooks.php" "/en/open-books.php"

RedirectMatch "^/brickable/" "/en/brickable.php"
RedirectMatch "^/brikable/" "/en/brickable.php"
RedirectMatch "^/brikable.php/" "/en/brickable.php"
RedirectMatch "^/brickable/" "/en/brickable.php"
RedirectMatch "^/ecobrikable/" "/en/brickable.php"
RedirectMatch "^/ecobrickable/" "/en/brickable.php"

RedirectMatch "^/id/earth.php" "/id/tanah.php"


RedirectMatch "^/modules-beta" "/en/modules.php"
RedirectMatch "^/modules-beta/" "/en/modules.php"
RedirectMatch "^/modules/" "/en/modules.php"

RedirectMatch "^/symposium" "/en/symposium.php"
RedirectMatch "^/symposium.php/" "/en/symposium.php"
RedirectMatch "^/simposium/" "/en/symposium.php"

RedirectMatch "^/cradle/" "/en/spiral.php"
RedirectMatch "^/circular" "/en/spiral.php"
RedirectMatch "^/spiral" "/en/spiral.php"
RedirectMatch "^/spirals" "/en/spiral.php"
RedirectMatch "^/cyclical" "/en/spiral.php"

RedirectMatch "^/id/spiral.php" "/id/desain-spiral.php"



RedirectMatch "^/offsets/" "/en/offsets.php"
RedirectMatch "^/offsetting" "/en/offsets.php"
RedirectMatch "^/offset" "/en/offsets.php"
RedirectMatch "^/offsetting.php" "/en/offsets.php"
RedirectMatch "^/en/offsetting.php" "/en/offsets.php"





